@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
  font-family: 'Bebas Neue', cursive;
  background-image: url('../img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #d6c809;
  box-shadow: inset 0 0 1rem rgba(245, 241, 241, 0.5);
}

body {
  color: #fff;
}

.masterhead {
  height: 93vh;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.text-master {
  color: #EDFF00;
}

.text-master:hover {
  color: #EDFF00;
}

.box15 {
  border: 2px solid #EDFF00;
  transform: rotate(-5deg);
}

.box {
  border: 2px solid #EDFF00;
  background-color: rgba(0, 0, 0, .8);
}

.construction {
  font-size: 0.8rem;
}

.btn-vr {
  color: #212529;
  background-color: #EDFF00;
  border: 1.5px dashed #050505 !important;
}

.btn-vr:hover {
  color: #212529;
  background-color: #d1ce0d;
  border: 2px dotted #EDFF00 !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .construction {
    font-size: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .construction {
    font-size: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .construction {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 992px) { 
  .construction {
    font-size: 4.5rem;
  }
}

